.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #232f3e; /* Amazon's navbar background color */
    color: #fff; /* Text color */
    padding: 1rem 2rem;
  }
  
  .logo {
    padding-left: 20px;
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
  }
  
  .nav-links {
    padding-right: 50px;
    list-style: none;
    display: flex;
    gap: 1rem;
  }
  
  .nav-link {
    text-decoration: none;
    color: #fff;
    transition: all 0.3s ease; /* Add transition effect */
  }
  
  .nav-link:hover {
    color: #ff9900;
  }
  
  .login-button {
    background-color: #ff9900; /* Amazon's login button color */
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    text-decoration: none; /* Remove underline */
    transition: all 0.3s ease; /* Add transition effect */
  }
  
  .login-button:hover {
    background-color: #ffcc00; /* Change background color on hover */
  }
  .logout-button {
    background-color: #695b45; /* Amazon's login button color */
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    text-decoration: none; /* Remove underline */
    transition: all 0.3s ease; /* Add transition effect */
  }
  
  .logout-button:hover {
    background-color: red; /* Change background color on hover */
  }
  
  .main {
    padding: 2rem;
  }
  